.loggedIn{
color: white;
text-align: right;
}

.banner{
background-image: url("/img/kitchen.jpg");
background-repeat: no-repeat;
background-size: cover;
background-repeat: no-repeat;
background-position: 65% 0%;
min-height: 750px;
position: relative;
margin: auto;
width: 80%;

}

body{
    background-color: #E3DCD1 !important;
}

.textBox{
  width: 300px;
  height: 150px;
  background-color: #958673;
  padding: 20px;
  margin: 40px;
  position: absolute;
}

.textBox h2{
color: #E3DCD1;
}

